<div class="container">
    <div class="container card" style="width: 30rem;height: 18rem; margin-top: 8rem">
        <div class="card-body">
            <h5 class="card-title text-center">
                <i class="fab fa-twitter" aria-hidden="true"></i>
                Twitter
            </h5>
            <p class="card-text text-center">From breaking news and entertainment to sports and politics, get the full
                story with
                all the live commentary.</p>
            <hr />

            <a href="/auth/google" type="button" class="btn btn-danger btn-block" style="margin-top: 2rem;">
                <i class="fab fa-google" aria-hidden="true"></i>
                Login using Google
            </a>
            <a href="/auth/facebook" type="button" class="btn btn-primary btn-block">
                <i class="fab fa-facebook" aria-hidden="true"></i>
                Login using Facebook
            </a>
        </div>
    </div>
</div>